
<% tasks.each do |task| %>
  <div class="task-index">
    <div class="index-box">
      <div class="category">
        <ul class="pull-right">
          <% if task.progress == "未着手" %>
            <li class="not-box">未</li>
          <% end %>
          <% if task.progress == "着手中" %>
            <li class="commencement-box">着</li>
          <% end %>
          <% if task.progress == "完了" %>
            <li class="completion-box">完</li>
          <% end %>
        </ul>
      </div>

      <div class="main-index">
        <div class="task-title">
          <h4><%= task.title %></h4>
        </div>
        <div class="task-content">
          <h4><%= task.content %></h4>
        </div>
        <div class="task-edit pull-right edit-btn">編集</div>
      </div>
      <div class="sub-index">
        <div class="file-index"></div>
        <div class="user-index">
          <ul>
            <li>担当者：<%= task.in_charge_name %></li>
            <li>登録者：<%= task.user.name %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
