// Place all the styles related to the tasklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new
.new {
  width: 35%;
  height: 100%;
  padding: 20px;
  // background-color: #EEEEEE;
  float: left;
  // display: none;
}
h2 {
  text-align: center;
  margin-bottom: 30px !important;
}
label {
  display: block !important;
  margin-bottom: 10px !important;
}
.box {
  margin: 40px 10px;
  .title {
    padding: 5px;
    width: 100%;
  }
  .content {
    padding: 5px;
    width: 100%;
    height: 200px;
    resize: none;
    display: inline-block;
  }
}
.submit-box {
  margin-right: 30px;
}

// edit
.edit {
  // display: block !important;
  width: 35%;
  height: 100%;
  padding: 20px;
  // background-color: #EEEEEE;
  float: left;
  .fa-times {
      position: absolute;
      top: 20px;
      right: 20px;
      color: rgba(128, 128, 128, 0.46);
      cursor: pointer;
    }
}
.modal {
  top: 79px !important;
}
// index
.index {
  width: 65%;
  float: right;
  background-color: #EEEEEE;
  height: auto;
  .category-box {
    margin-bottom: 0 !important;
    padding-bottom: 3px;
    li {
      list-style: none;
      display: inline-block;
      margin: 30px 10px;
    }
  }
  .category-btn {
    text-align: center;
    .not-box {
      width: 8%;
      text-align: center;
      padding: 2px 5px;
      border: 1px solid #000;
      border-radius: 100px;
      background-color: #FF82B2;
      cursor: pointer;
    }
    .commencement-box {
      width: 8%;
      text-align: center;
      padding: 2px 5px;
      border: 1px solid #000;
      border-radius: 100px;
      background-color: #99FFFF;
      cursor: pointer;
    }
    .completion-box {
      width: 6%;
      text-align: center;
      background-color: #FFFF66;
      padding: 2px 5px;
      border: 1px solid #000;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  .task-index {
    .index-box {
      margin: 30px;
      background-color: #fff;
      border-radius: 20px;
      padding: 10px 20px;
      .category {
        .not-box {
          padding: 2px 5px;
          border: 1px solid #000;
          border-radius: 100px;
          background-color: #FF82B2;
          cursor: pointer;
        }
        .commencement-box {
          padding: 2px 5px;
          border: 1px solid #000;
          border-radius: 100px;
          background-color: #99FFFF;
          cursor: pointer;
        }
        .completion-box {
          background-color: #FFFF66;
          padding: 2px 5px;
          border: 1px solid #000;
          border-radius: 100px;
          cursor: pointer;
        }
      }
      .main-index {
        width: 100%;
        display: inline-block;
        .task-title {
          width: 85%;
          margin-bottom: 20px !important;
        }
        .task-content {
          width: 85%;
          margin-bottom: 20px !important;
          display: inline-block;
        }
        .task-edit {
          cursor: pointer;
          color: #fff;
          text-align: center;
          width: 10%;
          display: inline-block;
          padding: 5px;
          background-color: #75A9FF;
          border-radius: 5px;
        }
      }
      .sub-index {
        width: 100%;
        .user-index {
          text-align: right;
        }
      }
    }
  }
}
