<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left header-title">
      <h1><%= link_to "タスク管理", root_path %></h1>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li>
            中村　充樹
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_btn" %>
          </li>
          <li>
            <div class="header_btn login-btn">ログイン</div>
          </li>
      </ul>
    </nav>
  </div>
</header>
